body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

/* header */
header{
    grid-area: header;
}

h1 > a{
    color: orangered;
    font-weight: bolder;
    padding:1em;
}

/* nav */

nav{
    grid-area: nav;
    margin: auto;
}

ul{
    padding: 0;
}

ul > li{
    list-style-type: none;
    display: inline-block;
    margin: auto;
    padding: 1em;
    
}

/* main */

main{
    grid-area: main;
}

/* grid system */

#content {
    width: 99vw;
    margin: auto;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: 
        "header header"
        "nav nav"
        "aside main";
}