<!Doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="stylewardrobe.css">
        <link href="https://fonts.googleapis.com/css?family=Francois+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
        <title>KLÄDR</title>
    </head>
    <body>
        <div id="content">
            <header>
                <a id="mainlogo" href="index.html">KLÄDR</a>
            </header>
            <nav>
                <a class="navitem" href="wardrobe.html">Garderob</a>
                <a class="navitem" href="trends.html">Trender & Tips</a>
                <a class="navitem" href="about.html">Om oss</a>
            </nav>
            
            <a href="#" class="filter-only" id="filter-btn">Filtrering <img src="images/iconfinder_test.png" alt=""></a>
            
            <div id="filter-menu">
                <div>
                    <p>Överdel</p>
                    <a href="#">T-Shirts</a>
                    <a href="#">Linnen</a>
                    <a href="#">Skjorta</a>
                    <a href="#">Stickat</a>
                    <a href="#">Hoodie</a>
                    <a href="#">Kofta</a>
                </div>
                <div> 
                    <p>Nederdel</p>
                    <a href="#">Byxor</a>
                    <a href="#">Jeans</a>
                    <a href="#">Shorts</a>
                    <a href="#">Sweatpants</a>
                    <a href="#">Kjol</a>
                    <a href="#">Leggings</a>
                </div>
                <div>
                    <p>Helkropp</p>
                    <a href="#">Klänning</a>
                    <a href="#">Jumpsuit</a>
                    <a href="#">Playsuit</a>
                </div>
                <div>
                    <p>Skor</p>
                    <a href="#">Sneaker</a>
                    <a href="#">Klackar</a>
                    <a href="#">Kängor</a>
                    <a href="#">Stövlar</a>
                    <a href="#">Sandaler</a>
                </div>
                <div>  
                    <p>Ytterkläder</p>
                    <a href="#">Lång jacka</a>
                    <a href="#">Kort jacka</a>
                    <a href="#">Kappa/Rock</a>
                    <a href="#">Regnjacka</a>
                    <a href="#">Termobyxor</a>
                </div>
            </div>
            <footer>
                <p>KLÄDR © 2020</p>
            </footer>
        </div>
    
    <a href="javascript:void(0);" title="Go To Top" id="scroll" style="display:none;">
    <span></span>
    </a>
            
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript"></script>
    <script src="script.js"></script>
    </body>
</html>
