<!Doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Francois+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    </head>
    <body>
        <div id="content">
            <header>
                <a id="mainlogo" href="index.html">KLÄDR</a>
            </header>
            <nav>
                <a class="navitem" href="wardrobe.html">Garderob</a>
                <a class="navitem" href="trends.html">Trender & Tips</a>
                <a class="navitem" href="about.html">Om oss</a>
            </nav>
            <main>
                <h2>Lägg in nytt plagg</h2>
                <form method="post">
                    <p>Typ av plagg</p>
                    <input type="radio" id="top" value="top">
                    <label for="top">Överdel</label>
                    <br>
                    <input type="radio" id="bottom" value="bottom">
                    <label for="bottom">Nederdel</label>
                    <br>
                    <input type="radio" id="other" value="other">
                    <label for="other">Annat</label>
                    <br>
                    <input type= "file" id="picture">
                    <br>
                    <br>
                    <input type = "submit">
                </form>
            </main>
        </div>
    </body>
</html>