/**
 * @author Johan From, Alva Karlborg, Laura Barba, Rebecka Persson
 */

body{
    margin: auto;
    font-family: 'Francois One', sans-serif;
    background-color: whitesmoke;
}
/*FLASHMEDDELANDEN*/
#content > #success-message{
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-right: 500px;
    margin-left: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: orangered;
    border-radius: 5px; 
    border: none; 
    font-size: 16px;
}
/*HEADER*/
#content > header{
    background-color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

#content > header > #mainlogo{
    color: orangered;
    font-size: 100px;
    text-decoration-line: none;
}

/*NAV*/
#content > nav > #menu-options{
    padding-bottom: 20px;
    padding: 15px;
    text-align: center;
    padding-left: 180px;
    font-size: 20px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: lightgrey;
    border-width: thin;
}

#content > nav > #menu-options > .navitem{
    text-decoration-line: none;
    color: dimgrey;
    padding-left: 10px;
}

#content > nav > #menu-options > .navitem-login{
    text-decoration-line: none;
    color: dimgrey;
    float: right;
    padding-left: 10px;
}

#content > nav > #menu-options > .navitem-login:hover, .navitem-login:focus{
    color: orangered;
}

#content > nav > #menu-options > .navitem:hover, .navitem:focus{
    color: orangered;
}

#content > nav > #menu-options > .navitem-active{
    text-decoration: none;
    color: dimgrey;
    float: right;
    padding-right: 10px;
}

#content > nav > #menu-options > .navitem-active:hover{
    color: orangered;
}

#content > #filter-menu{
    display: none;
    flex-direction: row;
    text-align: center;
}

#content > #filter-menu > div{
    margin-right: 20px;
}

#content > #filter-menu > div > a{
    display: block;
    text-decoration: none;
    color: dimgrey;
}

#content > #filter-menu > div > a:hover{
    color: orangered;
}

.filter-only{
    display: block;
}


#filter-btn{
    text-align: center;
    text-decoration: none;
    color: dimgrey;
    font-size: 25px;
}

#filter-menu{
    height: 200px;
    transition: 0.5s all;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

#wardrobe-buttons{
    text-align: center;
}

#add-article{
    width: 20%;
    margin: 30px 20px 30px 20px;
    font-size: 15px;
    background-color: orangered;
    color: white;
    border-radius: 15px;
    border-style: none;
}

#add-outfit, #list-outfit, #generate-outfit{
    width: 20%;
    margin: 30px 20px;
    font-size: 15px;
    background-color: #666;
    color: white;
    border-radius: 15px;
    border-style: none;
}
#content > #add-profile > form > select{
    width: 100%;
    font-family: 'Francois One', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}

#add-article:hover{
    background-color: #666;
}

#add-outfit:hover, #list-outfit:hover, #generate-outfit:hover{
    background-color: orangered;
}

#add-article > a, #add-outfit > a, #list-outfit > a, #generate-outfit > a{
    text-decoration: none;
    color: white;
    font-family: 'francois one', sans-serif;
    font-size: 20px;
}

#content > #filter-menu > .dots{
    color: whitesmoke;
}

#content > #filter-menu > .filterheadings{
    color: orangered;
}

/*CONTENT*/
#content > #wardrobe{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    flex-grow: 1;
    object-fit: cover;
    margin: 5px;
    justify-content: center;
}

#content > p{
    text-align: center;
}

#content > h2, #comment > p {
    margin: 1em;
}

#content > #wardrobe > #clothing-article img{
    width: auto;
    height: auto;
    margin: 1em;
    align-items: center;
    
}
#content > #article > #clothing-article img, #content > #comment-article{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;  
    text-align: center;  
}

#outfit{
    display: block;
    margin: 1em;
}
#outfit a {
    color: orangered;
    text-decoration: none;
    align-items: center;
    font-size: 30px;
}

#outfit a:hover{
    color: #666;
}

#outfit > img {
    width: auto;
    max-height: auto;
    margin: 1em;
}

/*LÄGG TILL OUTFIT*/
#content > #upload-form > #wardrobe{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    flex-grow: 1;
    object-fit: cover;
    justify-content: center;
}

#content > #upload-form > #wardrobe > div{
    margin: 5px;
    max-width: auto;
    max-height: auto;
    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#content > #upload-form{
    align-items: center;
    text-align: center;
}

#content > form > #type, #season{
    background-color: orangered;
    font-family: 'Francois One', sans-serif; 
    color: whitesmoke; 
    font-size: 15px;
    margin-left: 10px;
    border-radius: 5px; 
    border: none; 
}

#content > form > #season, #type{
    background-color: orangered;
    font-family: 'Francois One', sans-serif; 
    color: whitesmoke; 
    font-size: 15px;
    margin-right: 10px;
    border-radius: 5px; 
    border: none; 
}

input[type=submit]{
    background-color: orangered; 
    font-family: 'Francois One', sans-serif; 
    color: white; 
    font-size: 20px;
    border-radius: 5px; 
    border: none; 
    align-items: center;
    margin-top: 10px;
}

input[type=submit]:hover{
    cursor: pointer;
    background-color: #666;
}

input[type=text]{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: black;
    resize: none;
    font-family: 'Francois One', sans-serif;
    font-size: 16px;
    align-items: center;
  }

/*FOOTER*/
footer{
    background-color: whitesmoke;
    border-top-style: solid;
    border-color: lightgrey;
    border-width: thin;
    padding-bottom: 1px;
    margin-top: 30px;
    display: block;
}

footer > p{
    text-align: center;
    color: orangered;
}

#scroll{
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 50px;
    width: 50px;
    background-color: dimgrey;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
}
#scroll span{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    border: 8px solid transparent;
    border-bottom-color: white;
}

#scroll:hover{
    background-color: orangered;
    filter: "alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

/*Menyknapp för responsivitet*/
.mobile-only{
    display: none;
}

/*Responvivitet endast för sidor som har med wardrobe att göra*/

/* Mobiltelefoner*/
@media screen and (max-width: 440px){
    .mobile-only{
        display: block;
    }

    #content > nav{
        flex-direction: column;
    }

    #content > nav > #menu-options{
        display: flex;
        flex-direction: column;
    }

    #menu-btn{
        text-align: center;
        color: dimgrey;
        text-decoration: none;
        font-size: 30px;
        border-top-style: solid;
        border-color: dimgrey;
        border-width: thin;
    }

    #menu-btn:hover{
        color: black;
    }

    #content > nav > #menu-options{
        display: flex;
        padding: 0px;
        padding-right: 0px !important;
        flex-direction: column;
        overflow: hidden;
        transition: 0.5s all;
        border-style: none;
        border-bottom-style: solid;
        border-color: dimgrey;
        font-size: 20px;    
        justify-content: center;
    }

    #content > nav > #menu-options > .navitem{
        color: orangered;
    }

    #content > nav > #menu-btn:focus + #menu-options, #menu-options:hover {
        height: 160px;
    }

    #content > #upload-form > #wardrobe{
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        flex-grow: 1;
        object-fit: cover;
        align-items: center;
    }

    #content > #upload-form{
        align-items: center;
    }

    #content > #wardrobe-buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #content > #wardrobe-buttons > #add-outfit > a{
        font-size: 12px;
    }

    #content > #wardrobe-buttons > #add-article > a{
        font-size: 12px;
    }

    #content > #wardrobe-buttons > #list-outfit > a{
        font-size: 12px;
    }

    #content > #wardrobe-buttons > #generate-outfit > a{
        font-size: 12px;
    }

    #menu-btn:focus + #menu-options, #menu-options:hover {
        height: 350px;
    }

    #content > #filter-menu{
        display: none;
        flex-direction: row;
        height: 350px;
        flex-grow: 1;
        object-fit: cover;
        margin: 5px;
        text-align: center;
    }
    
    #content > #filter-menu > div{
        margin-right: 10px;
    }
    
    #content > #filter-menu > div > a{
        display: block;
        text-decoration: none;
        color: dimgrey;
        font-size: 15px;
    }
    
    #content > #filter-menu > div > a:hover{
        color: orangered;
    }
    
    .filter-only{
        display: block;
    }
    
    #filter-btn{
        text-align: center;
        text-decoration: none;
        color: dimgrey;
        font-size: 20px;
    }
    
    #filter-menu{
        height: 350px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        object-fit: cover;
        margin: 5px;
        justify-content: center; 
    }
}

/*Surfplattor*/
@media screen and (max-width: 1024px){
    .mobile-only{
        display: block;
    }
    
    #add-outfit, #list-outfit, #generate-outfit{
        margin: 10px;
        font-size: 10px;
        background-color: #666;
        color: white;
        border-radius: 15px;
        border-style: none;
    }
    #content > nav{
        flex-direction: column;
    }

    #content > #menu-options{
        display: flex;
        flex-direction: column;
    }

    #menu-btn{
        text-align: center;
        color: dimgrey;
        text-decoration: none;
        font-size: 30px;
        border-top-style: solid;
        border-color: dimgrey;
        border-width: thin;

    }

    #menu-btn:hover{
        color: black;
    }

    #content > nav > #menu-options{
        display: flex;
        height: 0px;
        flex-direction: column;
        overflow: hidden;
        transition: 0.5s all;
        border-style: none;
        padding-bottom: 0px;
        padding-right: 190px;
        border-bottom-style: solid;
        border-color: dimgrey;
    }

    #content > nav > #menu-options > .navitem{
        color: orangered;
    }
    
    #menu-btn:focus + #menu-options, #menu-options:hover {
        height: 160px;
    }

    #content > #success-message{
        display: flex; 
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin-right: 500px;
        margin-left: 500px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: orangered;
        border-radius: 5px; 
        border: none; 
        font-size: 25px;
    }
}