body{
    margin: auto;
    font-family: 'Francois One', sans-serif;
    background-color: whitesmoke;
}

/*HEADER*/
#content > header{
    background-color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

#content > header > #mainlogo{
    color: orangered;
    font-size: 100px;
    text-decoration-line: none;
}

/*NAV*/
#content > nav{
    padding-bottom: 20px;
    padding: 15px;
    text-align: center;
    padding-left: 180px;
    font-size: 20px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: lightgrey;
    border-width: thin;
}

#content > nav > .navitem{
    text-decoration-line: none;
    color: dimgrey;
    padding-left: 10px;
}

#content > nav > .navitem-login{
    text-decoration-line: none;
    color: dimgrey;
    float: right;
    padding-left: 10px;
}

#content > nav > .navitem-login:hover, .navitem-login:focus{
    color: orangered;
}

#content > nav > .navitem:hover, .navitem:focus{
    color: orangered;
}

#content > nav > .navitem-logout{
    text-decoration: none;
    color: dimgrey;
    float: right;
    margin-right: 90px;
}

#content > nav > .navitem-logout:hover, .navitem-logout:focus{
    color: orangered;
}

#content > #filter-menu{
    display: flex;
    margin: auto;
    text-align: center;
}

#content > #filter-menu > div{
    margin-right: 20px;
}

#content > #filter-menu > div > p{
    color: orangered;
}

#content > #filter-menu > div > a{
    display: block;
    text-decoration: none;
    color: dimgrey;
}

#content > #filter-menu > div > a:hover{
    color: orangered;
}

.filter-only{
    display: block;
}


#filter-btn{
    text-align: center;
    text-decoration: none;
    color: dimgrey;
    font-size: 25px;
}

#filter-menu{
    height: 0px;
    overflow: hidden;
    transition: 0.5s all;
    flex-direction: row;
    justify-content: center;
}

#filter-btn:focus + #filter-menu, #filter-menu:hover {
    height: 200px;
}


#wardrobe-buttons{
    text-align: center;
}

#add-article{
    width: 20%;
    margin: 30px 20px 30px 20px;
    font-size: 15px;
    background-color: orangered;
    color: white;
    border-radius: 15px;
    border-style: none;
}

#add-outfit, #list-outfit{
    width: 20%;
    margin: 0 20px 30px 20px;
    font-size: 15px;
    background-color: #666;
    color: white;
    border-radius: 15px;
    border-style: none;
}

#add-article:hover{
    background-color: #666;
}

#add-outfit:hover, #list-outfit:hover{
    background-color: orangered;
}

#add-article > a, #add-outfit > a, #list-outfit > a{
    text-decoration: none;
    color: white;
    font-family: 'francois one', sans-serif;
    font-size: 20px;
}

/*CONTENT*/
#content > #wardrobe{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    flex-grow: 1;
    object-fit: cover;
    margin: 5px;
}
#content > #wardrobe > #clothing-article img{
    width: 400px;
    max-height: 500px;
    margin: 1em;
}

#outfit{
    display: block;
    margin: 1em;
}
#outfit a {
    color: orangered;
    text-decoration: none;
}

#outfit a:hover{
    color: #666;
}

#outfit > img {
    width: 400px;
    max-height: 500px;
    margin: 1em;
}
/*LÄGG TILL OUTFIT*/
#content > #upload-form > #wardrobe{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    flex-grow: 1;
    object-fit: cover;
    align-items: center;
}

#content > #upload-form > #wardrobe > img{
    margin: 5px;
    max-width: 300px;
    max-height: 300px;
    margin: 1em;
    align-items: center;
}
#content > #upload-form{
    align-items: center;
}

input[type=submit]{
    background-color: orangered; 
    font-family: 'Francois One', sans-serif; 
    color: white; 
    font-size: 20px;
    border-radius: 5px; 
    border: none; 
    align-items: center;
    margin-top: 10px;
}

input[type=submit]:hover{
    cursor: pointer;
    background-color: #666;
}
input[type=text]{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: black;
    resize: none;
    font-family: 'Francois One', sans-serif;
    font-size: 16px;
    align-items: center;
  }

/*FOOTER*/
footer{
    background-color: whitesmoke;
    border-top-style: solid;
    border-color: lightgrey;
    border-width: thin;
    padding-bottom: 1px;
    margin-top: 30px;
    display: block;
}

footer > p{
    text-align: center;
    color: orangered;
}

#scroll{
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 50px;
    width: 50px;
    background-color: dimgrey;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
}
#scroll span{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    border: 8px solid transparent;
    border-bottom-color: white;
}

#scroll:hover{
    background-color: orangered;
    filter: "alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}
