<!Doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial scale 1.0, width=device-width">
        <link rel="stylesheet" href="/static/stylewardrobe.css">
        <link href="https://fonts.googleapis.com/css?family=Francois+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
        <title>KLÄDR</title>
    </head>
    <body>
        <div id="content">
            <header>
                <a id="mainlogo" href="{{url_for('index')}}">KLÄDR</a>
            </header>
            <nav>
                <a class="navitem" href="{{url_for('wardrobe')}}">Garderob</a>
                <a class="navitem" href="{{url_for('trends')}}">Trender & Tips</a>
                <a class="navitem" href="{{url_for('about')}}">Om oss</a>
                {% if session['logged_in'] == True %}
                    <a class="navitem-logout" href="{{url_for('logout')}}">Logga ut <span class="sr-only">(current)</span><img src="/static/logout-image.png" alt="logout"></a>
                {% else %}
                    <a class="navitem-login" href="{{url_for('login_page')}}">Logga in <span class="sr-only">(current)</span></a>
                    <a class="navitem-login" href="{{url_for('register')}}">Registrera</a>
                {% endif %}
            </nav>

            <form id="upload-form" action="{{ url_for('edit_outfit_form', outfit = outfit) }}" method="POST"  >
                <div id="wardrobe">
                    {% for name in wardrobe %}
                        <div >
                            <label for="{{name}}"><img src="{{url_for('send_image', filename=name)}}"></label>

                            {% if name in outfit_articles %}
                                <input type="checkbox" id="{{name}}" name="article" value="{{name}}" checked>
                            {% else %}
                                <input type="checkbox" id="{{name}}" name="article" value="{{name}}">
                            {% endif %}
                        </div>
                    {% endfor %}

                    <textarea placeholder="Kommentar" name="comment" id="comment-clothes" cols="30" rows="10">{{comment}}</textarea>
                    
                    <select id="type" name="type" required>
                        <option disabled> Tillfälle</option>   
                        <option selected>{{type}}</option>                        
                        <option value="Annat">Annat</option>

                        <option value="Bröllop">Bröllop</option>
                        <option value="Dop">Dop</option>
                        <option value="Vardag">Vardag</option>
                        <option value="Högtid">Högtid</option>
                        <option value="Fest">Fest</option>
                        <option value="Skola">Skola</option>
                        <option value="Arbete">Arbete</option>
                        <option value="Date">Date</option>
                    </select>

                   
                    <select id="season" name="season" required>
                        <option disabled>Välj en årstid</option>    
                        <option selected>{{season}}</option>                                                
                        <option value="Vår">Vår</option>
                        <option value="Vinter">Vinter</option>
                        <option value="Sommar">Sommar</option>
                        <option value="Höst">Höst</option>
                        <option value="Flera">Flera</option>
                    </select>
                    <label for="name">Döp din outfit!:</label><br>
                    <input type="text" id="name" name="name" value="{{outfit}}"required><br>
                    <input type="submit" value="Redigera outfit!" id="upload-button">
                </div>
            </form>
            <form id = "remove-form" action="{{url_for('remove_outfit', outfit = outfit)}}">
                <input type="submit" value="Ta bort outfit!" id="remove-button">
            </form>
            <footer>
                <p>KLÄDR © 2020</p>
            </footer>
        </div>
    
    <a href="javascript:void(0);" title="Go To Top" id="scroll" style="display:none;">
    <span></span>
    </a>
            
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript"></script>
    <script src="/static/script.js"></script>
    </body>
</html>
