<!Doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="/static/styles.css" rel=stylesheet>
        <link href="https://fonts.googleapis.com/css?family=Francois+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
        <title>KLÄDR</title>
    </head>
    <body>
        <div id="content">
            <header>
                <a id="mainlogo" href="{{url_for('index')}}">KLÄDR</a>
            </header>
            <nav>
                <a class="navitem" href="{{url_for('wardrobe')}}">Garderob</a>
                <a class="navitem" href="{{url_for('trends')}}">Trender & Tips</a>
                <a class="navitem" href="{{url_for('about')}}">Om oss</a>
            </nav>

            <div id="first-page">
                <div id="first-section">
                    <h1><a href="{{url_for('wardrobe')}}">Garderob</a></h1>
                    <p>
                        Vill du se vilka kläder du har i din garderob? Då kan du använda dig av denna interaktiva onlinegarderob för att se vilka kläder du har!
                    </p>
                </div>

                <div id="second-section">
                    <h1><a href="{{url_for('trends')}}">Trender & tips</a></h1>
                    <p>
                        Är du intresserad av kläder och mode? Eller har du en jobbig fläck du inte får bort? Kika här för trender och tips!
                    </p>
                </div>

                <div id="third-section">
                    <h1><a href="{{url_for('about')}}">Om oss</a></h1>
                    <p>
                        Har du några frågor angående sidan eller om oss, tveka inte på att kontakta oss!
                    </p>
                </div>
            </div>
        
            <footer>
                <p>KLÄDR © 2020</p>
            </footer>
        </div>
        
    <a href="javascript:void(0);" title="Go To Top" id="scroll" style="display:none;">
    <span></span>
    </a>
    <!--JavaScript-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript"></script>
    <script src="/static/script.js/"></script>
    </body>
</html>
