<!Doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Francois+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    </head>
    <body>
        <div id="content">
            <header>
                <a id="mainlogo" href="{{url_for('index')}}">KLÄDR</a>
            </header>
            <nav>
                <a class="navitem" href="{{url_for('wardrobe')}}">Garderob</a>
                <a class="navitem" href="{{url_for('trends')}}">Trender & Tips</a>
                <a class="navitem" href="{{url_for('about')}}">Om oss</a>
            </nav>
            <main>
                <h2>Lägg in nytt plagg</h2>
                
                <form id="upload-form" action="{{ url_for('insert') }}" method="POST" enctype="multipart/form-data">
                    
                    <label for="file"> Bildfil:</label>
                    <input id="file-picker" type="file" name="file" accept="image/*" multiple>
                    <label for="type">Välj en typ</label>
                        <select id="type" name="type">
                            <option selected disabled> Välj typ</option>
                            <option value="other" >Annat</option>

                            <option value="Överdel" disabled>Överdel</option>

                            <option value="T-shirt">T-shirts</option>
                            <option value="Linne" >Linne</option>
                            <option value="Skjorta">Skjorta</option>
                            <option value="Stickat">Stickat</option>
                            <option value="Hoodie">Hoodie</option>
                            <option value="Kofta">Kofta</option>

                            <option value="nederdel" disabled>Nederdel</option>

                            <option value="Byxor">Byxor</option>
                            <option value="Jeans">Jeans</option>
                            <option value="Shorts">Shorts</option>
                            <option value="Sweatpants" >Sweatpants</option>
                            <option value="Kjol">Kjol</option>
                            <option value="Leggings">Leggings</option>


                            <option value="helkropp" disabled>Helkropp</option>

                            <option value="Klänning">Klänning</option>
                            <option value="Jumpsuit">Jumpsuit</option>
                            <option value="Playsuit">Playsuit</option>
                            
                            <option value="skor" disabled>Skor</option>

                            <option value="Sneakers" >Sneakers</option>
                            <option value="Klackar">Klackar</option>
                            <option value="Kängor">Kängor</option>
                            <option value="Stövlar" >Stövlar</option>
                            <option value="Sandaler">Sandaler</option>
                            
                            <option value="ytterplagg" disabled>Ytterplagg</option>

                            <option value="Lång jacka" >Lång jacka</option>
                            <option value="Kort jacka">Kort jacka</option>
                            <option value="Kappa/Rock">Kappa/Rock</option>
                            <option value="Regnjacka" >Regnjacka</option>
                            <option value="Termobyxor">Termobyxor</option>
                        </select>
                        <textarea placeholder="Kommentar" name="comment" id="comment-clothes" cols="30" rows="10"></textarea>
                    <input type="submit" value="Lägg till" id="upload-button">
                </form>
            </main>
        </div>
    </body>
</html>