<!Doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial scale 1.0, width=device-width">
    <link rel="stylesheet" href="/static/stylewardrobe.css">
    <link href="https://fonts.googleapis.com/css?family=Francois+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <title>KLÄDR</title>
</head>

<body>
    <div id="content">
        <header>
            <a id="mainlogo" href="{{url_for('index')}}">KLÄDR</a>
        </header>
        <nav>
            <a href="#" class="mobile-only" id="menu-btn">Meny <img src="/static/menu-image.png" alt=""></a>
            <div id="menu-options">
                <a class="navitem" href="{{url_for('wardrobe')}}">Garderob</a>
                <a class="navitem" href="{{url_for('trends')}}">Trender & tips</a>
                <a class="navitem" href="{{url_for('about')}}">Om oss</a>
                {% if session['logged_in'] == True %}
                    <a class="navitem-active" href="{{url_for('logout')}}">Logga ut <span class="sr-only">(current)</span><img src="/static/logout-image.png" alt="logout"></a>
                    <a class="navitem-active" href="{{url_for('show_profile')}}">Min profil</a>
                {% else %}
                    <a class="navitem-login" href="{{url_for('login_page')}}">Logga in <span class="sr-only">(current)</span></a>
                    <a class="navitem-login" href="{{url_for('register')}}">Registrera</a>
                {% endif %} 
            </div>
        </nav>

        <a href="#" class="filter-only" id="filter-btn" onclick="toggle('filter-menu')">Filtrering <img src="/static/filter-symbol.png" alt=""></a>

        <div id="filter-menu">
            <div class="filterheadings">
                <p>Finare tillfällen</p>
                <a href="{{url_for('filter_outfit',value = 'Bröllop')}}">Bröllop</a>
                <a href="{{url_for('filter_outfit',value = 'Dop')}}">Dop</a>
                <a href="{{url_for('filter_outfit',value = 'Högtid')}}">Högtid</a>
                <a href="{{url_for('filter_outfit',value = 'Fest')}}">Fest</a>
                <a href="{{url_for('filter_outfit',value = 'Date')}}">Dejt</a>
            </div>
            <div class="filterheadings">
                <p>Vardagliga tillfällen</p>
                <a href="{{url_for('filter_outfit',value = 'Vardag')}}">Vardag</a>
                <a href="{{url_for('filter_outfit',value = 'Skola')}}">Skola</a>
                <a href="{{url_for('filter_outfit',value = 'Arbete')}}">Arbete</a>
                <a href="{{url_for('filter_outfit',value = 'Annat')}}">Annat</a>
            </div>
            <div class="filterheadings">
                <p>Årstid</p>
                <a href="{{url_for('filter_outfit',value = 'Vinter')}}">Vinter</a>
                <a href="{{url_for('filter_outfit',value = 'Vår')}}">Vår</a>
                <a href="{{url_for('filter_outfit',value = 'Sommar')}}">Sommar</a>
                <a href="{{url_for('filter_outfit',value = 'Höst')}}">Höst</a>
                <a href="{{url_for('filter_outfit',value = 'Flera')}}">Flera</a>
            </div>
        </div>

        <div id="wardrobe-buttons">
            <button id="add-outfit"><a id="add-outfit-text" href="{{url_for('outfits')}}">LÄGG TILL OUTFIT</a></button>
        </div>

        <div>

            {% for outfit in outfits %}
            <div id="outfit">
                <h2><a href="{{url_for('show_outfit',outfit = names[loop.index0])}}">{{names[loop.index0]}}</a></h2>

                {% for article in outfit %}

                <img src="{{url_for('send_image', filename=article)}}">
                {% endfor %}
            </div>

            {% endfor %}

        </div>


        <footer>
            <p>KLÄDR © 2020</p>
        </footer>
    </div>

    <a href="javascript:void(0);" title="Go To Top" id="scroll" style="display:none;">
        <span></span>
    </a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript"></script>
    <script src="/static/script.js"></script>
</body>

</html>