  
<!Doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/stylewardrobe.css">
        <link href="https://fonts.googleapis.com/css?family=Francois+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
        <title>KLÄDR</title>
    </head>
    <body>
        <div id="content">
            <header>
                <a id="mainlogo" href="{{url_for('index')}}">KLÄDR</a>
            </header>
            <nav>
                <a class="navitem" href="{{url_for('wardrobe')}}">Garderob</a>
                <a class="navitem" href="{{url_for('trends')}}">Trender & Tips</a>
                <a class="navitem" href="{{url_for('about')}}">Om oss</a>
                {% if session['logged_in'] == True %}
                    <a class="navitem-acc" href="{{url_for('logout')}}">Logga ut <span class="sr-only">(current)</span></a>
                {% else %}
                    <a class="navitem-acc" href="{{url_for('login_page')}}">Logga in <span class="sr-only">(current)</span></a>
                    <a class="navitem-acc" href="{{url_for('register')}}">Registrera</a>
                {% endif %}
            </nav>
            <form id="upload-form" action="{{ url_for('add_outfit', outfit = outfit) }}" method="POST"  >
                <div id="wardrobe">
                    {% for name in path %}
                        <div>
                            <img src="{{url_for('send_image', filename=name)}}">
                            <input type="checkbox" id="{{name}}" name="article" value="{{name}}">
                        </div>
                    {% endfor %}
                        <input type="text" id="named-outfit" name="named-outfit" placeholder="Döp din outfit!" required>
                        <input type="text" id="comment-outfit" name="comment-outfit" placeholder="Kommentera din outfit!" required>
                        <input type="submit" id="save-outfit" name="save-outfit" value="SPARA OUTFIT">
                        </form>
                </div>
            </form>
            <footer>
                <p>KLÄDR © 2020</p>
            </footer>
        </div>
    
    <a href="javascript:void(0);" title="Go To Top" id="scroll" style="display:none;">
    <span></span>
    </a>
            
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript"></script>
    <script src="/static/script.js"></script>
    </body>
</html>