<!Doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/stylewardrobe.css">
    <meta name="viewport" content="initial scale 1.0, width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Francois+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <title>KLÄDR</title>
</head>

<body>
    <div id="content">
        <header>
            <a id="mainlogo" href="{{url_for('index')}}">KLÄDR</a>
        </header>
        <nav>
            <a href="#" class="mobile-only" id="menu-btn">Meny <img src="/static/menu-image.png" alt=""></a>
            <div id="menu-options">
                <a class="navitem" href="{{url_for('wardrobe')}}">Garderob</a>
                <a class="navitem" href="{{url_for('trends')}}">Trender & tips</a>
                <a class="navitem" href="{{url_for('about')}}">Om oss</a>
                {% if session['logged_in'] == True %}
                    <a class="navitem-active" href="{{url_for('logout')}}">Logga ut <span class="sr-only">(current)</span><img src="/static/logout-image.png" alt="logout"></a>
                    <a class="navitem-active" href="{{url_for('show_profile')}}">Min profil</a>
                {% else %}
                    <a class="navitem-login" href="{{url_for('login_page')}}">Logga in <span class="sr-only">(current)</span></a>
                    <a class="navitem-login" href="{{url_for('register')}}">Registrera</a>
                {% endif %} 
            </div>
        </nav>

        {% if session['logged_in'] == True %}

        <a href="#" class="filter-only" id="filter-btn" onclick="toggle('filter-menu')">Filtrering <img src="/static/filter-symbol.png"
            alt="filter"></a>


        <div id="filter-menu">
            <div class="filterheadings">
                <p>Överdel</p>
                <a href="{{url_for('filter',value = 'T-shirt')}}">T-Shirts</a>
                <a href="{{url_for('filter', value = 'Linne')}}">Linnen</a>
                <a href="{{url_for('filter', value = 'Skjorta')}}">Skjorta</a>
                <a href="{{url_for('filter', value = 'Stickat')}}">Stickat</a>
                <a href="{{url_for('filter', value = 'Hoodie')}}">Hoodie</a>
                <a href="{{url_for('filter', value = 'Kofta')}}">Kofta</a>
            </div>
            <div class="filterheadings">
                <p>Nederdel</p>
                <a href="{{url_for('filter', value = 'Byxor')}}">Byxor</a>
                <a href="{{url_for('filter', value = 'Jeans')}}">Jeans</a>
                <a href="{{url_for('filter', value = 'Shorts')}}">Shorts</a>
                <a href="{{url_for('filter', value = 'Sweatpants')}}">Sweatpants</a>
                <a href="{{url_for('filter', value = 'Kjol')}}">Kjol</a>
                <a href="{{url_for('filter', value = 'Leggings')}}">Leggings</a>
            </div>
            <div class="filterheadings">
                <p>Helkropp</p>
                <a href="{{url_for('filter', value = 'Klänning')}}">Klänning</a>
                <a href="{{url_for('filter', value = 'Jumpsuit')}}">Jumpsuit</a>
                <a href="{{url_for('filter', value = 'Playsuit')}}">Playsuit</a>
            </div>
            <div class="filterheadings">
                <p>Skor</p>
                <a href="{{url_for('filter', value = 'Sneakers')}}">Sneakers</a>
                <a href="{{url_for('filter', value = 'Klackar')}}">Klackar</a>
                <a href="{{url_for('filter', value = 'Kängor')}}">Kängor</a>
                <a href="{{url_for('filter', value = 'Stövlar')}}">Stövlar</a>
                <a href="{{url_for('filter', value = 'Sandaler')}}">Sandaler</a>
            </div>
            <div class="filterheadings">
                <p>Ytterkläder</p>
                <a href="{{url_for('filter', value = 'Lång jacka')}}">Lång jacka</a>
                <a href="{{url_for('filter', value = 'Kort Jacka')}}">Kort jacka</a>
                <a href="{{url_for('filter', value = 'Kappa/Rock')}}">Kappa/rock</a>
                <a href="{{url_for('filter', value = 'Regnjacka')}}">Regnjacka</a>
                <a href="{{url_for('filter', value = 'Termobyxor')}}">Termobyxor</a>
            </div>

            <div class="dots">
                <p>..</p>
                <a href="{{url_for('filter', value = 'Svart')}}">Svart</a>
                <a href="{{url_for('filter', value = 'Brun')}}">Brun</a>
                <a href="{{url_for('filter', value = 'Beige')}}">Beige</a>
                <a href="{{url_for('filter', value = 'Grå')}}">Grå</a>
                <a href="{{url_for('filter', value = 'Vit')}}">Vit</a>
            </div>

            <div class="filterheadings">
                <p>Färg</p>
                <a href="{{url_for('filter', value = 'Blå')}}">Blå </a>
                <a href="{{url_for('filter', value = 'Grön')}}">Grön</a>
                <a href="{{url_for('filter', value = 'Gul')}}">Gul</a>
                <a href="{{url_for('filter', value = 'Orange')}}">Orange</a>
                <a href="{{url_for('filter', value = 'Röd')}}">Röd</a>
            </div>
            <div class="dots">
                <p>..</p>
                <a href="{{url_for('filter', value = 'Rosa')}}">Rosa</a>
                <a href="{{url_for('filter', value = 'Lila')}}">Lila</a>
                <a href="{{url_for('filter', value = 'Guld')}}">Guld</a>
                <a href="{{url_for('filter', value = 'Silver')}}">Silver</a>
                <a href="{{url_for('filter', value = 'Flerfärgad')}}">Multifärgad</a>
            </div>
        </div>

        {% endif %}
        <div id="success-message">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div id=flashwrapper class="alert" role="alert">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <p>{{message}}</p>

        {% if session['logged_in'] == True %}

        <div id="wardrobe-buttons">
            <button id="add-outfit"><a href="{{url_for('outfits')}}">LÄGG TILL OUTFIT</a></button>

            <button id="add-article"><a href="{{url_for('insert')}}">LÄGG TILL ARTIKEL</a></button>

            <button id="list-outfit"><a href="{{url_for('list_outfits')}}">VISA MINA OUTFITS</a></button>

            <!--<div id="wardrobe-buttons-article"> 
                    <button id="add-article"><a href="{{url_for('insert')}}">LÄGG TILL ARTIKEL</a></button>
                </div>
                <div id="wardrobe-buttons-outfit">
                    <button id="add-outfit"><a href="{{url_for('outfits')}}">LÄGG TILL OUTFIT</a></button>
                    <button id="list-outfit"><a href="{{url_for('list_outfits')}}">VISA OUTFITS</a></button>
                </div>-->
        </div>

        <div id="wardrobe">
            {% for name in path %}
            <div id="clothing-article">
                <a href="/edit.html/{{name}}"><img src="{{url_for('send_image', filename=name)}}"></a>
            </div>
            {% endfor %}
        </div>

        {% endif %}

        <footer>
            <p>KLÄDR © 2020</p>
        </footer>
    </div>

    <a href="javascript:void(0);" title="Go To Top" id="scroll" style="display:none;">
        <span></span>
    </a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript"></script>
    <script src="/static/script.js"></script>
</body>

</html>